doctype html
html
    head
      title 这是一个测试页面
      link(rel="stylesheet",href="svg-icon/svg-symbols.css")
      link(rel="stylesheet",href="css/index.min.css")
    body
    svg.icon(style="fill:red")
      use(xlink:href="svg-icon/svg-symbols.svg#frustrated")
    p 你好啊试试sssasss
      | hello
      | jade

    p.
      hello
      jadess

    - var s = 'world'

    p hello#{s}

    p= 'hello'+s

    -var user = {description: '我喜欢猫'}
    - if (user.description)
      h2(class="",id="") 描述
      p.description= user.description
    - else
      h1 描述
      p.description 用户无描述

    -var user = {descriptions: '我喜欢猫'}
    #user
      if (user.description)
        h2 描述
        p.description= user.description
      else
        h1 描述
        p.description 用户无描述

    - var user = { name: 'Alan', isVip: false }
    unless user.isVip
      p 亲爱的 #{ user.name } 您并不是 VIP


    - var array = [1,2,3]
    ul
      - for (var i = 0; i<array.length; i++) {
        li hello #{ array[i] }
      - }

    ul
      each val, index in [ '西瓜', '苹果', '栗子' ]
        li= index + ':' + val

    ul
      each val, index in {1:'苹果',2:'栗子',3:'乔布斯'}
        li= index + ':' + val

    - var friends = 10
    case friends
      when 0
        p you have no friends
      when 1
        p you have a friend
      default
        p you have #{ friends } friends

    - var friends = 1
    case friends
      when 0 : p you have no friends
      when 1 : p you have a friend
      default : p you have #{ firends } friends


    //- 声明可重用的模块
    mixin list
      ul
        li foo
        li bar
        li baz

    //- 调用
    +list()
    +list()


    mixin pets (pets)
      ul.pets
        - each pet in pets
          li= pet
    +pets (['cat', 'dog', 'pig'])


    mixin article (title)
      .article
        .article-wrapper
          h1= title
          //- block 为 jade 关键字代表外部传入的块
          if block
            block
          else
            p 该文章没有内容
     +article ('hello world')

     +article ('hello jade')
        p 这里是外部传入的块
        p 再写两句

      mixin link (href, name)
        a(class != attributes.class, href=href)= name

      +link ('/foo', 'foo') (class="btn")
